*
{
	margin: 0;
	padding: 0;
}

body
{
	background: rgba(100, 100, 100, 0.5);
}

h1
{
	color: black;
	text-decoration: underline;
	text-align: center;
}

#random
{
	font-size: 50px;
	text-align: center;
	height: 60px;
	border: 1px solid black;
	width: 484px;
	margin-top: 30px;
}

.button {
	cursor: pointer;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0px;
	border:3px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Arial;
	font-size:70px;
	font-weight:bold;
	padding-top: 50px;
	font-style:normal;
	height:120px;
	line-height:60px;
	width:480px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.button:active {
	position:relative;
	top:1px;
}

.Three-Dee{
font-family: Arial, sans-serif;
line-height: 1em;
color: #ffffff;
font-weight:bold;
font-size: 129px;
text-shadow:0px 0px 0 rgb(233,233,233),1px 1px 0 rgb(220,220,220),2px 2px 0 rgb(208,208,208),3px 3px 0 rgb(195,195,195),4px 4px 0 rgb(183,183,183),5px 5px 0 rgb(170,170,170),6px 6px 0 rgb(158,158,158), 7px 7px 0 rgb(146,146,146),8px 8px 7px rgba(0,0,0,0.75),8px 8px 1px rgba(0,0,0,0.5),0px 0px 7px rgba(0,0,0,.2);}